.box{
    height:670px;
    width:80%;
    margin:0 auto;
}
.magazine{
    height:95%;
    width:30%;
    margin-left:1%;
    background-color:aquamarine;
    display:inline-block;
}
.poster{
    width:100%;
    height:100%;
}
.textBox{
    height:fit-content;
    width:100%;
    margin-bottom:2%
}
.title{
    margin-left:1%;
    font-size:24px;
}
.showMore{
    margin-left:78%;
    font-size:14px
}