.layout{
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.card{
    width:30%;
    height:400px;
    border:1px solid gainsboro
}
.card_field{
    display:flex;
    width:100%;
    justify-content:space-around;
}

/* tablet css */
@media screen and (max-width:1024px) and (min-width:768px) {
    
}

/* phone css */
@media screen and (max-width:768px) {
 
    .card_field{
        flex-direction:column;
        align-items:center;
    }
    .card{
        width:80%
    }
}