.box{
    height:700px;
    width:80%;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.a{
    height:100%;
    width:30%;
    background-color: red;   
}
.b{
    height:100%;
    width:30%;
    background-color:orange;
}
.c{
    height:100%;
    width:30%;
    background-color: yellow;
}