.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #44362f;
}
li{
    list-style-type: none;
    margin:0 8px 0 8px;
}
.menu{
    display: flex;
}
.name{
    font-size: 28px;
    margin-left: 8px;
}
.hamburger{
    display: none;
    cursor:pointer
}
.bar1, .bar2, .bar3{
    width:35px;
    height:5px;
    background-color: #333;
    margin:6px 0;
    transition:0.4s;
}


@media screen and (max-width:1024px) {
    .menu{
        display:none;
    }
    .hamburger{
        display: inline-block;
    }
}